#threads_table {
  margin: 20px 20px 10px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 6px 0px;
  background-color: #fff;
}

#threads_table td.col_icon {
  vertical-align: middle;
}

#threads_table .col_topic .icon {
  font-size: 20px;
}