##  This is the email that goes out when a new comment is posted on a thread.
##  See thread.py for the caller.



<%block name="email_to_block">
  ${ to_name } <${ to_email }>
</%block>


<%block name="email_from_block">
  ${ topic_key }@island.byu.edu
</%block>


<%block name="email_subject_block">
	${ subject }
</%block>


<%block name="email_text_block">
</%block>


<%block name="email_html_block">
  <style type="text/css">
      p.island_divider {
        margin: 24px 0 0 0;
        color: #888; 
        font-family: sans-serif;
        font-size: 14px;
      }
      p.island_footer {
        color: #888; 
        font-family: sans-serif;
        font-size: 14px;
        margin: 3px 0 3px 0;
      }
      p.island_footer > a {
        text-decoration: none;
        color: #0088CC;
      }
  </style>

  ${ comment }
  

  <p class="island_divider">-- </p>
  <p class="island_footer">This email was sent from <a href="https://island.byu.edu/homepage/account/">https://island.byu.edu/</a>.</p>
  <p class="island_footer">You can unsubscribe from <a href="https://island.byu.edu/homepage/account.unsubscribe/${ topic_key }/">${ topic_title } emails</a> or from <a href="https://island.byu.edu/homepage/account.unsubscribe/all/">all Island emails</a>.</p>
  
  
</%block>

