<%inherit file="base_ajax.htm" />

<%block name="content">

  <div style="margin: 12px 0 0 24px;">
    <a class="btn btn-success btn-lg" href="/forum/thread/new/">Start New Thread</a>
  </div>

    ${ table.get_html(context) }

</%block>


<%def name="title_viewer(thread)">
  <div>
    <a href="/forum/thread/${ thread.id }/">${ thread.title | h }</a>
  </div>
  <div>
    Thread by <a href="">${ thread.user.fullname }</a>
  </div>
</%def>


<%def name="comments_viewer(thread, counts)">
  <div>
    Latest: <a href="/forum/thread/${ thread.id }/">${ counts[1].strftime('%b %d at %H:%M') }</a>
  </div>
  <div>
    Replies: <a href="/forum/thread/${ thread.id }/">${ counts[0] - 1 }</a>
  </div>
</%def>