<%inherit file="base_template.htm" />

<%block name="content">

  <ul class="breadcrumbs">
    <li><a href="/">Island</a></li>
    <li><a href="/forum/">Forum</a></li>
  </ul>
  <h1>${ topic.title if topic != None else 'All Topics' }</h1>
  

    
  <div id="threads_table">
  
    <div style="margin: 12px 0 0 24px; float: left;">
      <a class="btn btn-success btn-lg" href="/forum/newthread/${ request.urlparams[0] | u }">Start New Thread</a>
    </div>
    
    <div class="clearfix"></div>

    ${ table_html }
  </div>
  

</%block>
