<%inherit file="base_ajax_template.htm" />

<%block name="content">

    ${ table.get_html(context) }

</%block>


<%def name="title_viewer(thread)">
  <div>
    <a href="/forum/thread/${ thread.id }/">${ thread.title | h }</a>
  </div>
  <div>
    Thread by <a href="">${ thread.user.get_full_name() }</a>
  </div>
</%def>


<%def name="comments_viewer(thread, counts)">
  <div>
    Latest: <a href="/forum/thread/${ thread.id }/">${ counts[1].strftime('%b %d at %H:%M') if counts != None else '' }</a>
  </div>
  <div>
    Replies: <a href="/forum/thread/${ thread.id }/">${ counts[0] - 1 if counts else '0' }</a>
  </div>
</%def>


<%def name="topic_viewer(thread)">
  <div class="inline-block text-center">
    <div class="icon ${ thread.topic.icon }"></div>
    <div class="topic_title">${ thread.topic.title }</div>
  </div>
</%def>
