## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    
    <title>Homepage</title>
    
    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="/static/homepage/scripts/jQuery.js"></script>
    <script src="/static/homepage/scripts/bootstrap.js"></script>
    <script src="/static/homepage/scripts/jquery.woomark.js"></script>
    <script src="/static/homepage/scripts/jquery.powertimer.js"></script>
    
    <script src="/static/homepage/scripts/jquery.classysocial.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="/static/homepage/scripts/custom.js"></script>
    <script src="/static/homepage/scripts/jquery_form.js"></script>
    <script src="/static/homepage/scripts/loadModal.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/homepage/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/styles/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/styles/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/styles/top-menu.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/styles/jquery.classysocial.min.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/styles/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/styles/font-awesome-4.1.0/css/font-awesome.min.css">
    
    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }
  
  </head>
  <body>

    <div id="main_content">
      <nav>
        <ul class="menu">
          <li style="padding-top: 3px; text-align: center; background-color: white;"><img src="/static/homepage/media/image/task/logo.png" width="90%" height="100%" /></li>
          <li class="home current"><a href="/homepage/index/"><span>Home</span></a></li>
          <li><a href="#"><span>About</span></a></li>
          <li><a href="#"><span>Service</span></a>
            <ul class="sub-menu">
              <li><a href="#">Sub-menu 1</a></li>
              <li><a href="#">Sub-menu 2</a></li>
              <li><a href="#">Sub-menu 3</a></li>
            </ul>
          </li>
          <li><a href="#"><span>Application Form</span></a></li>
          <li><a href="#"><span>Contacts</span></a></li>
        </ul>
      </nav>
      <form class="navbar-form" role="search" style="width: 40%; float: right;">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
      </form>

      <br/>
      <br/>
      <%block name="content">
        Site content goes here in sub-templates.
      </%block>  
      <br/>
      <br/>
      <div id="footer">
        <div class="container">
          <p class="text-muted">BYU Department of Information Systems</p>
        </div>
      </div>
    </div>
    
    <div id="right_bar">
      %if request.user.is_authenticated():
        <header style="height: 115px;">
            <img src="/static/homepage/media/image/ironman.jpeg" height="40px"/>
            <div class="btn btn-default" style="text-align: left; cursor: initial;">
              ${request.user.username}
              <br/>
              <a href="/homepage/profile/">View Profile</a>
              <br/>
              <a href="/homepage/cover/logout">Logout</a>
            </div>
        </header>
      %endif
      <div style="background-color: #3E454D; border-top: 1px solid #ffffff;">
        <br/>
        <ul class="nav nav-sidebar">
          <li style="text-align: center;"><a href="#">Job Postings</a></li>
          <li><a href="#">Senior graphical engineer</a></li>
          <li><a href="#">Django junior developer</a></li>
          <li><a href="#">Java project manager</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li style="text-align: center;"><a href="">Hot Topics</a></li>
          <li><a href="">How to navigate to django setting?</a></li>
          <li><a href="">Does bitcoin shape the currency future?</a></li>
          <li><a href="">Why do we code?</a></li>
          <li><a href="">Tips and tricks for Twitter Bootstrap 3.0</a></li>
        </ul>
      </div>

      <div class="classysocial"  style="position:absolute; bottom: 0px; left: 10%;"
        data-orientation="line" 
        data-arc-length="360" data-image-type="picture" 
        data-picture="/static/homepage/media/image/classysocial/default/share_core_square.jpg" data-facebook-handle="picozu" 
        data-twitter-handle="picozu_editor" 
        data-email-handle="me@me.com"
        data-networks="facebook,twitter,email">
      </div>
    </div>
  
    ## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }
  
  </body>
</html>