<%inherit file="base_template.htm" />

<%block name="content">
  <br/>
  <div class="container">
    <div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px;">
      <h2>Resume</h2>
      <div style="float: right;"><img src="/static/homepage/media/image/task/task_1.png" height="200px"/></div>
      <p class="lead" style="text-align: left; font-size: 12pt;">
        <b>Expiration Time: </b>#att<br/><br/>
        <b>Points: </b>100pts<br/><br/>
        <b>Description: </b>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br/><br/>
      </p>
      <a class="btn btn-lg btn-success" id="start" role="button">START</a>
    </div>
  </div>
  
  <div id="detail_instructions">
  </div>

</%block>
