<%inherit file="base.htm" />

<%block name="content">
  <div id="image-container">
    <ul id="tiles">

      %for task in tasks:
        <li class="img-li"><a href="/homepage/detail/${task.id}">
          <h2 style="text-align: center;">${task.name}</h2>
          <img src="/static/homepage/media/image/task/task_${task.id}.png" width="210px" height="210px"/></a>
          <div class="thumbnail-info"> 
            Desc: ${task.description}<br/>
            Points: ${task.points}<br/>
          </div>
        </li>
      %endfor

    </ul>
  </div>
</%block>
