<%inherit file="base_ajax.htm" />
<%block name="content">

<form class="form-horizontal signin-form" method="POST" action="/homepage/cover/">
  ${ form.non_field_errors() }
  % for field in form:
    <div class="form-group">
      <label class="col-md-2 control-label">${field.label}</label>
      <div class="col-md-5">
        ${field} 
        <div class="form-constrol" style="padding-left: 0px">${field.errors}</div>
      </div>
    </div>
  % endfor
  <div class="form-group col-md-9"> 
    <button type="submit" class="btn btn-lg btn-default lead">Sign In</button>
  </div>
</form

</%block>