<%inherit file="base_ajax.htm" />

<%block name="content">

  <h4><div class="label label-danger" id="timing" style="position: fixed; left:0px; top: 50%;"></div></h4>
  
  % for taskStep in taskSteps:
    <div class="container">
      <div class="image"><img src="/static/homepage/media/image/no${taskStep.sort_order}.png" height="80px"/></div>
      <div class="jumbotron step">    
        ${taskStep.description}
      </div>
    </div>
  % endfor

  <br/>

  <div class="container">
    <div class="jumbotron" style="padding-top: 15px; padding-bottom: 15px;">    
      <a id="finish" class="btn btn-lg btn-success" role="button">FINISH</a>
    </div>
  </div>

</%block>
