/*! Purchased from icomoon.io on Dec 20, 2013. 
    Please do not copy from our web site as this is copyrighted material. */

@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Individual icons */

.icon_home:before {
	content: "\e000";
}
.icon_home2:before {
	content: "\e001";
}
.icon_home3:before {
	content: "\e002";
}
.icon_home4:before {
	content: "\e003";
}
.icon_home5:before {
	content: "\e004";
}
.icon_home6:before {
	content: "\e005";
}
.icon_home7:before {
	content: "\e006";
}
.icon_home8:before {
	content: "\e007";
}
.icon_home9:before {
	content: "\e008";
}
.icon_home10:before {
	content: "\e009";
}
.icon_home11:before {
	content: "\e00a";
}
.icon_office:before {
	content: "\e00b";
}
.icon_newspaper:before {
	content: "\e00c";
}
.icon_pencil:before {
	content: "\e00d";
}
.icon_pencil2:before {
	content: "\e00e";
}
.icon_pencil3:before {
	content: "\e00f";
}
.icon_pencil4:before {
	content: "\e010";
}
.icon_pencil5:before {
	content: "\e011";
}
.icon_pencil6:before {
	content: "\e012";
}
.icon_quill:before {
	content: "\e013";
}
.icon_quill2:before {
	content: "\e014";
}
.icon_quill3:before {
	content: "\e015";
}
.icon_pen:before {
	content: "\e016";
}
.icon_pen2:before {
	content: "\e017";
}
.icon_pen3:before {
	content: "\e018";
}
.icon_pen4:before {
	content: "\e019";
}
.icon_pen5:before {
	content: "\e01a";
}
.icon_marker:before {
	content: "\e01b";
}
.icon_home12:before {
	content: "\e01c";
}
.icon_marker2:before {
	content: "\e01d";
}
.icon_blog:before {
	content: "\e01e";
}
.icon_blog2:before {
	content: "\e01f";
}
.icon_brush:before {
	content: "\e020";
}
.icon_palette:before {
	content: "\e021";
}
.icon_palette2:before {
	content: "\e022";
}
.icon_eyedropper:before {
	content: "\e023";
}
.icon_eyedropper2:before {
	content: "\e024";
}
.icon_droplet:before {
	content: "\e025";
}
.icon_droplet2:before {
	content: "\e026";
}
.icon_droplet3:before {
	content: "\e027";
}
.icon_droplet4:before {
	content: "\e028";
}
.icon_paint_format:before {
	content: "\e029";
}
.icon_paint_format2:before {
	content: "\e02a";
}
.icon_image:before {
	content: "\e02b";
}
.icon_image2:before {
	content: "\e02c";
}
.icon_image3:before {
	content: "\e02d";
}
.icon_images:before {
	content: "\e02e";
}
.icon_image4:before {
	content: "\e02f";
}
.icon_image5:before {
	content: "\e030";
}
.icon_image6:before {
	content: "\e031";
}
.icon_images2:before {
	content: "\e032";
}
.icon_image7:before {
	content: "\e033";
}
.icon_camera:before {
	content: "\e034";
}
.icon_camera2:before {
	content: "\e035";
}
.icon_camera3:before {
	content: "\e036";
}
.icon_camera4:before {
	content: "\e037";
}
.icon_music:before {
	content: "\e038";
}
.icon_music2:before {
	content: "\e039";
}
.icon_music3:before {
	content: "\e03a";
}
.icon_music4:before {
	content: "\e03b";
}
.icon_music5:before {
	content: "\e03c";
}
.icon_music6:before {
	content: "\e03d";
}
.icon_piano:before {
	content: "\e03e";
}
.icon_guitar:before {
	content: "\e03f";
}
.icon_headphones:before {
	content: "\e040";
}
.icon_headphones2:before {
	content: "\e041";
}
.icon_play:before {
	content: "\e042";
}
.icon_play2:before {
	content: "\e043";
}
.icon_movie:before {
	content: "\e044";
}
.icon_movie2:before {
	content: "\e045";
}
.icon_movie3:before {
	content: "\e046";
}
.icon_film:before {
	content: "\e047";
}
.icon_film2:before {
	content: "\e048";
}
.icon_film3:before {
	content: "\e049";
}
.icon_film4:before {
	content: "\e04a";
}
.icon_camera5:before {
	content: "\e04b";
}
.icon_camera6:before {
	content: "\e04c";
}
.icon_camera7:before {
	content: "\e04d";
}
.icon_camera8:before {
	content: "\e04e";
}
.icon_camera9:before {
	content: "\e04f";
}
.icon_dice:before {
	content: "\e050";
}
.icon_gamepad:before {
	content: "\e051";
}
.icon_gamepad2:before {
	content: "\e052";
}
.icon_gamepad3:before {
	content: "\e053";
}
.icon_pacman:before {
	content: "\e054";
}
.icon_spades:before {
	content: "\e055";
}
.icon_clubs:before {
	content: "\e056";
}
.icon_diamonds:before {
	content: "\e057";
}
.icon_king:before {
	content: "\e058";
}
.icon_queen:before {
	content: "\e059";
}
.icon_rock:before {
	content: "\e05a";
}
.icon_bishop:before {
	content: "\e05b";
}
.icon_knight:before {
	content: "\e05c";
}
.icon_pawn:before {
	content: "\e05d";
}
.icon_chess:before {
	content: "\e05e";
}
.icon_bullhorn:before {
	content: "\e05f";
}
.icon_megaphone:before {
	content: "\e060";
}
.icon_new:before {
	content: "\e061";
}
.icon_connection:before {
	content: "\e062";
}
.icon_connection2:before {
	content: "\e063";
}
.icon_podcast:before {
	content: "\e064";
}
.icon_radio:before {
	content: "\e065";
}
.icon_feed:before {
	content: "\e066";
}
.icon_connection3:before {
	content: "\e067";
}
.icon_radio2:before {
	content: "\e068";
}
.icon_podcast2:before {
	content: "\e069";
}
.icon_podcast3:before {
	content: "\e06a";
}
.icon_mic:before {
	content: "\e06b";
}
.icon_mic2:before {
	content: "\e06c";
}
.icon_mic3:before {
	content: "\e06d";
}
.icon_mic4:before {
	content: "\e06e";
}
.icon_mic5:before {
	content: "\e06f";
}
.icon_book:before {
	content: "\e070";
}
.icon_book2:before {
	content: "\e071";
}
.icon_books:before {
	content: "\e072";
}
.icon_reading:before {
	content: "\e073";
}
.icon_library:before {
	content: "\e074";
}
.icon_library2:before {
	content: "\e075";
}
.icon_graduation:before {
	content: "\e076";
}
.icon_file:before {
	content: "\e077";
}
.icon_profile:before {
	content: "\e078";
}
.icon_file2:before {
	content: "\e079";
}
.icon_file3:before {
	content: "\e07a";
}
.icon_file4:before {
	content: "\e07b";
}
.icon_file5:before {
	content: "\e07c";
}
.icon_file6:before {
	content: "\e07d";
}
.icon_files:before {
	content: "\e07e";
}
.icon_file_plus:before {
	content: "\e07f";
}
.icon_file_minus:before {
	content: "\e080";
}
.icon_file_download:before {
	content: "\e081";
}
.icon_file_upload:before {
	content: "\e082";
}
.icon_file_check:before {
	content: "\e083";
}
.icon_file_remove:before {
	content: "\e084";
}
.icon_file7:before {
	content: "\e085";
}
.icon_file8:before {
	content: "\e086";
}
.icon_file_plus2:before {
	content: "\e087";
}
.icon_file_minus2:before {
	content: "\e088";
}
.icon_file_download2:before {
	content: "\e089";
}
.icon_file_upload2:before {
	content: "\e08a";
}
.icon_file_check2:before {
	content: "\e08b";
}
.icon_file_remove2:before {
	content: "\e08c";
}
.icon_file9:before {
	content: "\e08d";
}
.icon_copy:before {
	content: "\e08e";
}
.icon_copy2:before {
	content: "\e08f";
}
.icon_copy3:before {
	content: "\e090";
}
.icon_copy4:before {
	content: "\e091";
}
.icon_paste:before {
	content: "\e092";
}
.icon_paste2:before {
	content: "\e093";
}
.icon_paste3:before {
	content: "\e094";
}
.icon_stack:before {
	content: "\e095";
}
.icon_stack2:before {
	content: "\e096";
}
.icon_stack3:before {
	content: "\e097";
}
.icon_folder:before {
	content: "\e098";
}
.icon_folder_download:before {
	content: "\e099";
}
.icon_folder_upload:before {
	content: "\e09a";
}
.icon_folder_plus:before {
	content: "\e09b";
}
.icon_folder_plus2:before {
	content: "\e09c";
}
.icon_folder_minus:before {
	content: "\e09d";
}
.icon_folder_minus2:before {
	content: "\e09e";
}
.icon_folder8:before {
	content: "\e09f";
}
.icon_folder_remove:before {
	content: "\e0a0";
}
.icon_folder2:before {
	content: "\e0a1";
}
.icon_folder_open:before {
	content: "\e0a2";
}
.icon_folder3:before {
	content: "\e0a3";
}
.icon_folder4:before {
	content: "\e0a4";
}
.icon_folder_plus3:before {
	content: "\e0a5";
}
.icon_folder_minus3:before {
	content: "\e0a6";
}
.icon_folder_plus4:before {
	content: "\e0a7";
}
.icon_folder_remove2:before {
	content: "\e0a8";
}
.icon_folder_download2:before {
	content: "\e0a9";
}
.icon_folder_upload2:before {
	content: "\e0aa";
}
.icon_folder_download3:before {
	content: "\e0ab";
}
.icon_folder_upload3:before {
	content: "\e0ac";
}
.icon_folder5:before {
	content: "\e0ad";
}
.icon_folder_open2:before {
	content: "\e0ae";
}
.icon_folder6:before {
	content: "\e0af";
}
.icon_folder_open3:before {
	content: "\e0b0";
}
.icon_certificate:before {
	content: "\e0b1";
}
.icon_cc:before {
	content: "\e0b2";
}
.icon_tag:before {
	content: "\e0b3";
}
.icon_tag2:before {
	content: "\e0b4";
}
.icon_tag3:before {
	content: "\e0b5";
}
.icon_tag4:before {
	content: "\e0b6";
}
.icon_tag5:before {
	content: "\e0b7";
}
.icon_tag6:before {
	content: "\e0b8";
}
.icon_tag7:before {
	content: "\e0b9";
}
.icon_tags:before {
	content: "\e0ba";
}
.icon_tags2:before {
	content: "\e0bb";
}
.icon_tag8:before {
	content: "\e0bc";
}
.icon_barcode:before {
	content: "\e0bd";
}
.icon_barcode2:before {
	content: "\e0be";
}
.icon_qrcode:before {
	content: "\e0bf";
}
.icon_ticket:before {
	content: "\e0c0";
}
.icon_cart:before {
	content: "\e0c1";
}
.icon_cart2:before {
	content: "\e0c2";
}
.icon_cart3:before {
	content: "\e0c3";
}
.icon_cart4:before {
	content: "\e0c4";
}
.icon_cart5:before {
	content: "\e0c5";
}
.icon_cart6:before {
	content: "\e0c6";
}
.icon_cart7:before {
	content: "\e0c7";
}
.icon_cart_plus:before {
	content: "\e0c8";
}
.icon_cart_minus:before {
	content: "\e0c9";
}
.icon_cart_add:before {
	content: "\e0ca";
}
.icon_cart_remove:before {
	content: "\e0cb";
}
.icon_cart_checkout:before {
	content: "\e0cc";
}
.icon_cart_remove2:before {
	content: "\e0cd";
}
.icon_basket:before {
	content: "\e0ce";
}
.icon_basket2:before {
	content: "\e0cf";
}
.icon_bag:before {
	content: "\e0d0";
}
.icon_bag2:before {
	content: "\e0d1";
}
.icon_bag3:before {
	content: "\e0d2";
}
.icon_coin:before {
	content: "\e0d3";
}
.icon_coins:before {
	content: "\e0d4";
}
.icon_credit:before {
	content: "\e0d5";
}
.icon_credit2:before {
	content: "\e0d6";
}
.icon_calculate:before {
	content: "\e0d7";
}
.icon_calculate2:before {
	content: "\e0d8";
}
.icon_support:before {
	content: "\e0d9";
}
.icon_phone:before {
	content: "\e0da";
}
.icon_phone2:before {
	content: "\e0db";
}
.icon_phone3:before {
	content: "\e0dc";
}
.icon_phone4:before {
	content: "\e0dd";
}
.icon_contact_add:before {
	content: "\e0de";
}
.icon_contact_remove:before {
	content: "\e0df";
}
.icon_contact_add2:before {
	content: "\e0e0";
}
.icon_contact_remove2:before {
	content: "\e0e1";
}
.icon_call_incoming:before {
	content: "\e0e2";
}
.icon_call_outgoing:before {
	content: "\e0e3";
}
.icon_phone5:before {
	content: "\e0e4";
}
.icon_phone6:before {
	content: "\e0e5";
}
.icon_phone_hang_up:before {
	content: "\e0e6";
}
.icon_phone_hang_up2:before {
	content: "\e0e7";
}
.icon_address_book:before {
	content: "\e0e8";
}
.icon_address_book2:before {
	content: "\e0e9";
}
.icon_notebook:before {
	content: "\e0ea";
}
.icon_envelop:before {
	content: "\e0eb";
}
.icon_envelop2:before {
	content: "\e0ec";
}
.icon_mail_send:before {
	content: "\e0ed";
}
.icon_envelop_opened:before {
	content: "\e0ee";
}
.icon_envelop3:before {
	content: "\e0ef";
}
.icon_pushpin:before {
	content: "\e0f0";
}
.icon_location:before {
	content: "\e0f1";
}
.icon_location2:before {
	content: "\e0f2";
}
.icon_location3:before {
	content: "\e0f3";
}
.icon_location4:before {
	content: "\e0f4";
}
.icon_location5:before {
	content: "\e0f5";
}
.icon_location6:before {
	content: "\e0f6";
}
.icon_location7:before {
	content: "\e0f7";
}
.icon_compass:before {
	content: "\e0f8";
}
.icon_compass2:before {
	content: "\e0f9";
}
.icon_map:before {
	content: "\e0fa";
}
.icon_map2:before {
	content: "\e0fb";
}
.icon_map3:before {
	content: "\e0fc";
}
.icon_map4:before {
	content: "\e0fd";
}
.icon_direction:before {
	content: "\e0fe";
}
.icon_history:before {
	content: "\e0ff";
}
.icon_history2:before {
	content: "\e100";
}
.icon_clock:before {
	content: "\e101";
}
.icon_clock2:before {
	content: "\e102";
}
.icon_clock3:before {
	content: "\e103";
}
.icon_clock4:before {
	content: "\e104";
}
.icon_watch:before {
	content: "\e105";
}
.icon_clock5:before {
	content: "\e106";
}
.icon_clock6:before {
	content: "\e107";
}
.icon_clock7:before {
	content: "\e108";
}
.icon_alarm:before {
	content: "\e109";
}
.icon_alarm2:before {
	content: "\e10a";
}
.icon_bell:before {
	content: "\e10b";
}
.icon_bell2:before {
	content: "\e10c";
}
.icon_alarm_plus:before {
	content: "\e10d";
}
.icon_alarm_minus:before {
	content: "\e10e";
}
.icon_alarm_check:before {
	content: "\e10f";
}
.icon_alarm_cancel:before {
	content: "\e110";
}
.icon_stopwatch:before {
	content: "\e111";
}
.icon_calendar:before {
	content: "\e112";
}
.icon_calendar2:before {
	content: "\e113";
}
.icon_calendar3:before {
	content: "\e114";
}
.icon_calendar4:before {
	content: "\e115";
}
.icon_calendar5:before {
	content: "\e116";
}
.icon_print:before {
	content: "\e117";
}
.icon_print2:before {
	content: "\e118";
}
.icon_print3:before {
	content: "\e119";
}
.icon_mouse:before {
	content: "\e11a";
}
.icon_mouse2:before {
	content: "\e11b";
}
.icon_mouse3:before {
	content: "\e11c";
}
.icon_mouse4:before {
	content: "\e11d";
}
.icon_keyboard:before {
	content: "\e11e";
}
.icon_keyboard2:before {
	content: "\e11f";
}
.icon_screen:before {
	content: "\e120";
}
.icon_screen2:before {
	content: "\e121";
}
.icon_screen3:before {
	content: "\e122";
}
.icon_screen4:before {
	content: "\e123";
}
.icon_laptop:before {
	content: "\e124";
}
.icon_mobile:before {
	content: "\e125";
}
.icon_mobile2:before {
	content: "\e126";
}
.icon_tablet:before {
	content: "\e127";
}
.icon_mobile3:before {
	content: "\e128";
}
.icon_tv:before {
	content: "\e129";
}
.icon_cabinet:before {
	content: "\e12a";
}
.icon_archive:before {
	content: "\e12b";
}
.icon_drawer:before {
	content: "\e12c";
}
.icon_drawer2:before {
	content: "\e12d";
}
.icon_drawer3:before {
	content: "\e12e";
}
.icon_box:before {
	content: "\e12f";
}
.icon_box_add:before {
	content: "\e130";
}
.icon_box_remove:before {
	content: "\e131";
}
.icon_download:before {
	content: "\e132";
}
.icon_upload:before {
	content: "\e133";
}
.icon_disk:before {
	content: "\e134";
}
.icon_cd:before {
	content: "\e135";
}
.icon_storage:before {
	content: "\e136";
}
.icon_storage2:before {
	content: "\e137";
}
.icon_database:before {
	content: "\e138";
}
.icon_database2:before {
	content: "\e139";
}
.icon_database3:before {
	content: "\e13a";
}
.icon_undo:before {
	content: "\e13b";
}
.icon_redo:before {
	content: "\e13c";
}
.icon_rotate:before {
	content: "\e13d";
}
.icon_rotate2:before {
	content: "\e13e";
}
.icon_flip:before {
	content: "\e13f";
}
.icon_flip2:before {
	content: "\e140";
}
.icon_unite:before {
	content: "\e141";
}
.icon_subtract:before {
	content: "\e142";
}
.icon_interset:before {
	content: "\e143";
}
.icon_exclude:before {
	content: "\e144";
}
.icon_align_left:before {
	content: "\e145";
}
.icon_align_center_horizontal:before {
	content: "\e146";
}
.icon_align_right:before {
	content: "\e147";
}
.icon_align_top:before {
	content: "\e148";
}
.icon_align_center_vertical:before {
	content: "\e149";
}
.icon_align_bottom:before {
	content: "\e14a";
}
.icon_undo2:before {
	content: "\e14b";
}
.icon_redo2:before {
	content: "\e14c";
}
.icon_forward:before {
	content: "\e14d";
}
.icon_reply:before {
	content: "\e14e";
}
.icon_reply2:before {
	content: "\e14f";
}
.icon_bubble:before {
	content: "\e150";
}
.icon_bubbles:before {
	content: "\e151";
}
.icon_bubbles2:before {
	content: "\e152";
}
.icon_bubble2:before {
	content: "\e153";
}
.icon_bubbles3:before {
	content: "\e154";
}
.icon_bubbles4:before {
	content: "\e155";
}
.icon_bubble_notification:before {
	content: "\e156";
}
.icon_bubbles5:before {
	content: "\e157";
}
.icon_bubbles6:before {
	content: "\e158";
}
.icon_bubble3:before {
	content: "\e159";
}
.icon_bubble_dots:before {
	content: "\e15a";
}
.icon_bubble4:before {
	content: "\e15b";
}
.icon_bubble5:before {
	content: "\e15c";
}
.icon_bubble_dots2:before {
	content: "\e15d";
}
.icon_bubble6:before {
	content: "\e15e";
}
.icon_bubble7:before {
	content: "\e15f";
}
.icon_bubble8:before {
	content: "\e160";
}
.icon_bubbles7:before {
	content: "\e161";
}
.icon_bubble9:before {
	content: "\e162";
}
.icon_bubbles8:before {
	content: "\e163";
}
.icon_bubble10:before {
	content: "\e164";
}
.icon_bubble_dots3:before {
	content: "\e165";
}
.icon_bubble11:before {
	content: "\e166";
}
.icon_bubble12:before {
	content: "\e167";
}
.icon_bubble_dots4:before {
	content: "\e168";
}
.icon_bubble13:before {
	content: "\e169";
}
.icon_bubbles9:before {
	content: "\e16a";
}
.icon_bubbles10:before {
	content: "\e16b";
}
.icon_bubble_blocked:before {
	content: "\e16c";
}
.icon_bubble_quote:before {
	content: "\e16d";
}
.icon_bubble_user:before {
	content: "\e16e";
}
.icon_bubble_check:before {
	content: "\e16f";
}
.icon_bubble_video_chat:before {
	content: "\e170";
}
.icon_bubble_link:before {
	content: "\e171";
}
.icon_bubble_locked:before {
	content: "\e172";
}
.icon_bubble_star:before {
	content: "\e173";
}
.icon_bubble_heart:before {
	content: "\e174";
}
.icon_bubble_paperclip:before {
	content: "\e175";
}
.icon_bubble_cancel:before {
	content: "\e176";
}
.icon_bubble_plus:before {
	content: "\e177";
}
.icon_bubble_minus:before {
	content: "\e178";
}
.icon_bubble_notification2:before {
	content: "\e179";
}
.icon_bubble_trash:before {
	content: "\e17a";
}
.icon_bubble_left:before {
	content: "\e17b";
}
.icon_bubble_right:before {
	content: "\e17c";
}
.icon_bubble_up:before {
	content: "\e17d";
}
.icon_bubble_down:before {
	content: "\e17e";
}
.icon_bubble_first:before {
	content: "\e17f";
}
.icon_bubble_last:before {
	content: "\e180";
}
.icon_bubble_replu:before {
	content: "\e181";
}
.icon_bubble_forward:before {
	content: "\e182";
}
.icon_bubble_reply:before {
	content: "\e183";
}
.icon_bubble_forward2:before {
	content: "\e184";
}
.icon_user:before {
	content: "\e185";
}
.icon_users:before {
	content: "\e186";
}
.icon_user_plus:before {
	content: "\e187";
}
.icon_user_plus2:before {
	content: "\e188";
}
.icon_user_minus:before {
	content: "\e189";
}
.icon_user_minus2:before {
	content: "\e18a";
}
.icon_user_cancel:before {
	content: "\e18b";
}
.icon_user_block:before {
	content: "\e18c";
}
.icon_users2:before {
	content: "\e18d";
}
.icon_user2:before {
	content: "\e18e";
}
.icon_users3:before {
	content: "\e18f";
}
.icon_user_plus3:before {
	content: "\e190";
}
.icon_user_minus3:before {
	content: "\e191";
}
.icon_user_cancel2:before {
	content: "\e192";
}
.icon_user_block2:before {
	content: "\e193";
}
.icon_user3:before {
	content: "\e194";
}
.icon_user4:before {
	content: "\e195";
}
.icon_user5:before {
	content: "\e196";
}
.icon_user6:before {
	content: "\e197";
}
.icon_users4:before {
	content: "\e198";
}
.icon_user7:before {
	content: "\e199";
}
.icon_user8:before {
	content: "\e19a";
}
.icon_users5:before {
	content: "\e19b";
}
.icon_vcard:before {
	content: "\e19c";
}
.icon_tshirt:before {
	content: "\e19d";
}
.icon_hanger:before {
	content: "\e19e";
}
.icon_quotes_left:before {
	content: "\e19f";
}
.icon_quotes_right:before {
	content: "\e1a0";
}
.icon_quotes_right2:before {
	content: "\e1a1";
}
.icon_quotes_right3:before {
	content: "\e1a2";
}
.icon_busy:before {
	content: "\e1a3";
}
.icon_busy2:before {
	content: "\e1a4";
}
.icon_busy3:before {
	content: "\e1a5";
}
.icon_busy4:before {
	content: "\e1a6";
}
.icon_spinner:before {
	content: "\e1a7";
}
.icon_spinner2:before {
	content: "\e1a8";
}
.icon_spinner3:before {
	content: "\e1a9";
}
.icon_spinner4:before {
	content: "\e1aa";
}
.icon_spinner5:before {
	content: "\e1ab";
}
.icon_spinner6:before {
	content: "\e1ac";
}
.icon_spinner7:before {
	content: "\e1ad";
}
.icon_spinner8:before {
	content: "\e1ae";
}
.icon_spinner9:before {
	content: "\e1af";
}
.icon_spinner10:before {
	content: "\e1b0";
}
.icon_spinner11:before {
	content: "\e1b1";
}
.icon_spinner12:before {
	content: "\e1b2";
}
.icon_microscope:before {
	content: "\e1b3";
}
.icon_binoculars:before {
	content: "\e1b4";
}
.icon_binoculars2:before {
	content: "\e1b5";
}
.icon_search:before {
	content: "\e1b6";
}
.icon_search2:before {
	content: "\e1b7";
}
.icon_zoom_in:before {
	content: "\e1b8";
}
.icon_zoom_out:before {
	content: "\e1b9";
}
.icon_search3:before {
	content: "\e1ba";
}
.icon_search4:before {
	content: "\e1bb";
}
.icon_zoom_in2:before {
	content: "\e1bc";
}
.icon_zoom_out2:before {
	content: "\e1bd";
}
.icon_search5:before {
	content: "\e1be";
}
.icon_expand:before {
	content: "\e1bf";
}
.icon_contract:before {
	content: "\e1c0";
}
.icon_scale_up:before {
	content: "\e1c1";
}
.icon_scale_down:before {
	content: "\e1c2";
}
.icon_expand2:before {
	content: "\e1c3";
}
.icon_contract2:before {
	content: "\e1c4";
}
.icon_scale_up2:before {
	content: "\e1c5";
}
.icon_scale_down2:before {
	content: "\e1c6";
}
.icon_fullscreen:before {
	content: "\e1c7";
}
.icon_expand3:before {
	content: "\e1c8";
}
.icon_contract3:before {
	content: "\e1c9";
}
.icon_key:before {
	content: "\e1ca";
}
.icon_key2:before {
	content: "\e1cb";
}
.icon_key3:before {
	content: "\e1cc";
}
.icon_key4:before {
	content: "\e1cd";
}
.icon_key5:before {
	content: "\e1ce";
}
.icon_keyhole:before {
	content: "\e1cf";
}
.icon_lock:before {
	content: "\e1d0";
}
.icon_lock2:before {
	content: "\e1d1";
}
.icon_lock3:before {
	content: "\e1d2";
}
.icon_lock4:before {
	content: "\e1d3";
}
.icon_unlocked:before {
	content: "\e1d4";
}
.icon_lock5:before {
	content: "\e1d5";
}
.icon_unlocked2:before {
	content: "\e1d6";
}
.icon_wrench:before {
	content: "\e1d7";
}
.icon_wrench2:before {
	content: "\e1d8";
}
.icon_wrench3:before {
	content: "\e1d9";
}
.icon_wrench4:before {
	content: "\e1da";
}
.icon_settings:before {
	content: "\e1db";
}
.icon_equalizer:before {
	content: "\e1dc";
}
.icon_equalizer2:before {
	content: "\e1dd";
}
.icon_equalizer3:before {
	content: "\e1de";
}
.icon_cog:before {
	content: "\e1df";
}
.icon_cogs:before {
	content: "\e1e0";
}
.icon_cog2:before {
	content: "\e1e1";
}
.icon_cog3:before {
	content: "\e1e2";
}
.icon_cog4:before {
	content: "\e1e3";
}
.icon_cog5:before {
	content: "\e1e4";
}
.icon_cog6:before {
	content: "\e1e5";
}
.icon_cog7:before {
	content: "\e1e6";
}
.icon_factory:before {
	content: "\e1e7";
}
.icon_hammer:before {
	content: "\e1e8";
}
.icon_tools:before {
	content: "\e1e9";
}
.icon_screwdriver:before {
	content: "\e1ea";
}
.icon_screwdriver2:before {
	content: "\e1eb";
}
.icon_wand:before {
	content: "\e1ec";
}
.icon_wand2:before {
	content: "\e1ed";
}
.icon_health:before {
	content: "\e1ee";
}
.icon_aid:before {
	content: "\e1ef";
}
.icon_patch:before {
	content: "\e1f0";
}
.icon_bug:before {
	content: "\e1f1";
}
.icon_bug2:before {
	content: "\e1f2";
}
.icon_inject:before {
	content: "\e1f3";
}
.icon_inject2:before {
	content: "\e1f4";
}
.icon_construction:before {
	content: "\e1f5";
}
.icon_cone:before {
	content: "\e1f6";
}
.icon_pie:before {
	content: "\e1f7";
}
.icon_pie2:before {
	content: "\e1f8";
}
.icon_pie3:before {
	content: "\e1f9";
}
.icon_pie4:before {
	content: "\e1fa";
}
.icon_pie5:before {
	content: "\e1fb";
}
.icon_pie6:before {
	content: "\e1fc";
}
.icon_pie7:before {
	content: "\e1fd";
}
.icon_stats:before {
	content: "\e1fe";
}
.icon_stats2:before {
	content: "\e1ff";
}
.icon_stats3:before {
	content: "\e200";
}
.icon_bars:before {
	content: "\e201";
}
.icon_bars2:before {
	content: "\e202";
}
.icon_bars3:before {
	content: "\e203";
}
.icon_bars4:before {
	content: "\e204";
}
.icon_bars5:before {
	content: "\e205";
}
.icon_bars6:before {
	content: "\e206";
}
.icon_stats_up:before {
	content: "\e207";
}
.icon_stats_down:before {
	content: "\e208";
}
.icon_stairs_down:before {
	content: "\e209";
}
.icon_stairs_down2:before {
	content: "\e20a";
}
.icon_chart:before {
	content: "\e20b";
}
.icon_stairs:before {
	content: "\e20c";
}
.icon_stairs2:before {
	content: "\e20d";
}
.icon_ladder:before {
	content: "\e20e";
}
.icon_cake:before {
	content: "\e20f";
}
.icon_gift:before {
	content: "\e210";
}
.icon_gift2:before {
	content: "\e211";
}
.icon_balloon:before {
	content: "\e212";
}
.icon_rating:before {
	content: "\e213";
}
.icon_rating2:before {
	content: "\e214";
}
.icon_rating3:before {
	content: "\e215";
}
.icon_podium:before {
	content: "\e216";
}
.icon_medal:before {
	content: "\e217";
}
.icon_medal2:before {
	content: "\e218";
}
.icon_medal3:before {
	content: "\e219";
}
.icon_medal4:before {
	content: "\e21a";
}
.icon_medal5:before {
	content: "\e21b";
}
.icon_crown:before {
	content: "\e21c";
}
.icon_trophy:before {
	content: "\e21d";
}
.icon_trophy2:before {
	content: "\e21e";
}
.icon_trophy_star:before {
	content: "\e21f";
}
.icon_diamond:before {
	content: "\e220";
}
.icon_diamond2:before {
	content: "\e221";
}
.icon_glass:before {
	content: "\e222";
}
.icon_glass2:before {
	content: "\e223";
}
.icon_bottle:before {
	content: "\e224";
}
.icon_bottle2:before {
	content: "\e225";
}
.icon_mug:before {
	content: "\e226";
}
.icon_food:before {
	content: "\e227";
}
.icon_food2:before {
	content: "\e228";
}
.icon_hamburger:before {
	content: "\e229";
}
.icon_cup:before {
	content: "\e22a";
}
.icon_cup2:before {
	content: "\e22b";
}
.icon_leaf:before {
	content: "\e22c";
}
.icon_leaf2:before {
	content: "\e22d";
}
.icon_apple_fruit:before {
	content: "\e22e";
}
.icon_tree:before {
	content: "\e22f";
}
.icon_tree2:before {
	content: "\e230";
}
.icon_paw:before {
	content: "\e231";
}
.icon_steps:before {
	content: "\e232";
}
.icon_flower:before {
	content: "\e233";
}
.icon_rocket:before {
	content: "\e234";
}
.icon_meter:before {
	content: "\e235";
}
.icon_meter2:before {
	content: "\e236";
}
.icon_meter_slow:before {
	content: "\e237";
}
.icon_meter_medium:before {
	content: "\e238";
}
.icon_meter_fast:before {
	content: "\e239";
}
.icon_dashboard:before {
	content: "\e23a";
}
.icon_hammer2:before {
	content: "\e23b";
}
.icon_balance:before {
	content: "\e23c";
}
.icon_bomb:before {
	content: "\e23d";
}
.icon_fire:before {
	content: "\e23e";
}
.icon_fire2:before {
	content: "\e23f";
}
.icon_lab:before {
	content: "\e240";
}
.icon_atom:before {
	content: "\e241";
}
.icon_atom2:before {
	content: "\e242";
}
.icon_magnet:before {
	content: "\e243";
}
.icon_magnet2:before {
	content: "\e244";
}
.icon_magnet3:before {
	content: "\e245";
}
.icon_magnet4:before {
	content: "\e246";
}
.icon_dumbbell:before {
	content: "\e247";
}
.icon_skull:before {
	content: "\e248";
}
.icon_skull2:before {
	content: "\e249";
}
.icon_skull3:before {
	content: "\e24a";
}
.icon_lamp:before {
	content: "\e24b";
}
.icon_lamp2:before {
	content: "\e24c";
}
.icon_lamp3:before {
	content: "\e24d";
}
.icon_lamp4:before {
	content: "\e24e";
}
.icon_remove:before {
	content: "\e24f";
}
.icon_remove2:before {
	content: "\e250";
}
.icon_remove3:before {
	content: "\e251";
}
.icon_remove4:before {
	content: "\e252";
}
.icon_remove5:before {
	content: "\e253";
}
.icon_remove6:before {
	content: "\e254";
}
.icon_remove7:before {
	content: "\e255";
}
.icon_remove8:before {
	content: "\e256";
}
.icon_briefcase:before {
	content: "\e257";
}
.icon_briefcase2:before {
	content: "\e258";
}
.icon_briefcase3:before {
	content: "\e259";
}
.icon_airplane:before {
	content: "\e25a";
}
.icon_airplane2:before {
	content: "\e25b";
}
.icon_paper_plane:before {
	content: "\e25c";
}
.icon_car:before {
	content: "\e25d";
}
.icon_gas_pump:before {
	content: "\e25e";
}
.icon_bus:before {
	content: "\e25f";
}
.icon_truck:before {
	content: "\e260";
}
.icon_bike:before {
	content: "\e261";
}
.icon_road:before {
	content: "\e262";
}
.icon_train:before {
	content: "\e263";
}
.icon_ship:before {
	content: "\e264";
}
.icon_boat:before {
	content: "\e265";
}
.icon_cube:before {
	content: "\e266";
}
.icon_cube2:before {
	content: "\e267";
}
.icon_cube3:before {
	content: "\e268";
}
.icon_cube4:before {
	content: "\e269";
}
.icon_pyramid:before {
	content: "\e26a";
}
.icon_pyramid2:before {
	content: "\e26b";
}
.icon_cylinder:before {
	content: "\e26c";
}
.icon_package:before {
	content: "\e26d";
}
.icon_puzzle:before {
	content: "\e26e";
}
.icon_puzzle2:before {
	content: "\e26f";
}
.icon_puzzle3:before {
	content: "\e270";
}
.icon_puzzle4:before {
	content: "\e271";
}
.icon_glasses:before {
	content: "\e272";
}
.icon_glasses2:before {
	content: "\e273";
}
.icon_glasses3:before {
	content: "\e274";
}
.icon_sun_glasses:before {
	content: "\e275";
}
.icon_accessibility:before {
	content: "\e276";
}
.icon_accessibility2:before {
	content: "\e277";
}
.icon_brain:before {
	content: "\e278";
}
.icon_target:before {
	content: "\e279";
}
.icon_target2:before {
	content: "\e27a";
}
.icon_target3:before {
	content: "\e27b";
}
.icon_gun:before {
	content: "\e27c";
}
.icon_gun_ban:before {
	content: "\e27d";
}
.icon_shield:before {
	content: "\e27e";
}
.icon_shield2:before {
	content: "\e27f";
}
.icon_shield3:before {
	content: "\e280";
}
.icon_shield4:before {
	content: "\e281";
}
.icon_soccer:before {
	content: "\e282";
}
.icon_football:before {
	content: "\e283";
}
.icon_baseball:before {
	content: "\e284";
}
.icon_basketball:before {
	content: "\e285";
}
.icon_golf:before {
	content: "\e286";
}
.icon_hockey:before {
	content: "\e287";
}
.icon_racing:before {
	content: "\e288";
}
.icon_eight_ball:before {
	content: "\e289";
}
.icon_bowling_ball:before {
	content: "\e28a";
}
.icon_bowling:before {
	content: "\e28b";
}
.icon_bowling2:before {
	content: "\e28c";
}
.icon_lightning:before {
	content: "\e28d";
}
.icon_power:before {
	content: "\e28e";
}
.icon_power2:before {
	content: "\e28f";
}
.icon_switch:before {
	content: "\e290";
}
.icon_power_cord:before {
	content: "\e291";
}
.icon_cord:before {
	content: "\e292";
}
.icon_socket:before {
	content: "\e293";
}
.icon_clipboard:before {
	content: "\e294";
}
.icon_clipboard2:before {
	content: "\e295";
}
.icon_signup:before {
	content: "\e296";
}
.icon_clipboard3:before {
	content: "\e297";
}
.icon_clipboard4:before {
	content: "\e298";
}
.icon_list:before {
	content: "\e299";
}
.icon_list2:before {
	content: "\e29a";
}
.icon_list3:before {
	content: "\e29b";
}
.icon_numbered_list:before {
	content: "\e29c";
}
.icon_list4:before {
	content: "\e29d";
}
.icon_list5:before {
	content: "\e29e";
}
.icon_playlist:before {
	content: "\e29f";
}
.icon_grid:before {
	content: "\e2a0";
}
.icon_grid2:before {
	content: "\e2a1";
}
.icon_grid3:before {
	content: "\e2a2";
}
.icon_grid4:before {
	content: "\e2a3";
}
.icon_grid5:before {
	content: "\e2a4";
}
.icon_grid6:before {
	content: "\e2a5";
}
.icon_tree3:before {
	content: "\e2a6";
}
.icon_tree4:before {
	content: "\e2a7";
}
.icon_tree5:before {
	content: "\e2a8";
}
.icon_menu:before {
	content: "\e2a9";
}
.icon_menu2:before {
	content: "\e2aa";
}
.icon_circle_small:before {
	content: "\e2ab";
}
.icon_menu3:before {
	content: "\e2ac";
}
.icon_menu4:before {
	content: "\e2ad";
}
.icon_menu5:before {
	content: "\e2ae";
}
.icon_menu6:before {
	content: "\e2af";
}
.icon_menu7:before {
	content: "\e2b0";
}
.icon_menu8:before {
	content: "\e2b1";
}
.icon_menu9:before {
	content: "\e2b2";
}
.icon_cloud:before {
	content: "\e2b3";
}
.icon_cloud2:before {
	content: "\e2b4";
}
.icon_cloud3:before {
	content: "\e2b5";
}
.icon_cloud_download:before {
	content: "\e2b6";
}
.icon_cloud_upload:before {
	content: "\e2b7";
}
.icon_download2:before {
	content: "\e2b8";
}
.icon_upload2:before {
	content: "\e2b9";
}
.icon_download3:before {
	content: "\e2ba";
}
.icon_upload3:before {
	content: "\e2bb";
}
.icon_download4:before {
	content: "\e2bc";
}
.icon_upload4:before {
	content: "\e2bd";
}
.icon_download5:before {
	content: "\e2be";
}
.icon_upload5:before {
	content: "\e2bf";
}
.icon_download6:before {
	content: "\e2c0";
}
.icon_upload6:before {
	content: "\e2c1";
}
.icon_download7:before {
	content: "\e2c2";
}
.icon_upload7:before {
	content: "\e2c3";
}
.icon_globe:before {
	content: "\e2c4";
}
.icon_globe2:before {
	content: "\e2c5";
}
.icon_globe3:before {
	content: "\e2c6";
}
.icon_earth:before {
	content: "\e2c7";
}
.icon_network:before {
	content: "\e2c8";
}
.icon_link:before {
	content: "\e2c9";
}
.icon_link2:before {
	content: "\e2ca";
}
.icon_link3:before {
	content: "\e2cb";
}
.icon_link22:before {
	content: "\e2cc";
}
.icon_link4:before {
	content: "\e2cd";
}
.icon_link5:before {
	content: "\e2ce";
}
.icon_link6:before {
	content: "\e2cf";
}
.icon_anchor:before {
	content: "\e2d0";
}
.icon_flag:before {
	content: "\e2d1";
}
.icon_flag2:before {
	content: "\e2d2";
}
.icon_flag3:before {
	content: "\e2d3";
}
.icon_flag4:before {
	content: "\e2d4";
}
.icon_flag5:before {
	content: "\e2d5";
}
.icon_flag6:before {
	content: "\e2d6";
}
.icon_attachment:before {
	content: "\e2d7";
}
.icon_attachment2:before {
	content: "\e2d8";
}
.icon_eye:before {
	content: "\e2d9";
}
.icon_eye_blocked:before {
	content: "\e2da";
}
.icon_eye2:before {
	content: "\e2db";
}
.icon_eye3:before {
	content: "\e2dc";
}
.icon_eye_blocked2:before {
	content: "\e2dd";
}
.icon_eye4:before {
	content: "\e2de";
}
.icon_eye5:before {
	content: "\e2df";
}
.icon_eye6:before {
	content: "\e2e0";
}
.icon_eye7:before {
	content: "\e2e1";
}
.icon_eye8:before {
	content: "\e2e2";
}
.icon_bookmark:before {
	content: "\e2e3";
}
.icon_bookmark2:before {
	content: "\e2e4";
}
.icon_bookmarks:before {
	content: "\e2e5";
}
.icon_bookmark3:before {
	content: "\e2e6";
}
.icon_spotlight:before {
	content: "\e2e7";
}
.icon_starburst:before {
	content: "\e2e8";
}
.icon_snowflake:before {
	content: "\e2e9";
}
.icon_temperature:before {
	content: "\e2ea";
}
.icon_temperature2:before {
	content: "\e2eb";
}
.icon_weather_lightning:before {
	content: "\e2ec";
}
.icon_weather_rain:before {
	content: "\e2ed";
}
.icon_weather_snow:before {
	content: "\e2ee";
}
.icon_windy:before {
	content: "\e2ef";
}
.icon_fan:before {
	content: "\e2f0";
}
.icon_umbrella:before {
	content: "\e2f1";
}
.icon_sun:before {
	content: "\e2f2";
}
.icon_sun2:before {
	content: "\e2f3";
}
.icon_brightness_high:before {
	content: "\e2f4";
}
.icon_brightness_medium:before {
	content: "\e2f5";
}
.icon_brightness_low:before {
	content: "\e2f6";
}
.icon_brightness_contrast:before {
	content: "\e2f7";
}
.icon_contrast:before {
	content: "\e2f8";
}
.icon_moon:before {
	content: "\e2f9";
}
.icon_bed:before {
	content: "\e2fa";
}
.icon_bed2:before {
	content: "\e2fb";
}
.icon_star:before {
	content: "\e2fc";
}
.icon_star2:before {
	content: "\e2fd";
}
.icon_star3:before {
	content: "\e2fe";
}
.icon_star4:before {
	content: "\e2ff";
}
.icon_star5:before {
	content: "\e300";
}
.icon_star6:before {
	content: "\e301";
}
.icon_heart:before {
	content: "\e302";
}
.icon_heart2:before {
	content: "\e303";
}
.icon_heart3:before {
	content: "\e304";
}
.icon_heart4:before {
	content: "\e305";
}
.icon_heart_broken:before {
	content: "\e306";
}
.icon_heart5:before {
	content: "\e307";
}
.icon_heart6:before {
	content: "\e308";
}
.icon_heart_broken2:before {
	content: "\e309";
}
.icon_heart7:before {
	content: "\e30a";
}
.icon_heart8:before {
	content: "\e30b";
}
.icon_heart_broken3:before {
	content: "\e30c";
}
.icon_lips:before {
	content: "\e30d";
}
.icon_lips2:before {
	content: "\e30e";
}
.icon_thumbs_up:before {
	content: "\e30f";
}
.icon_thumbs_up2:before {
	content: "\e310";
}
.icon_thumbs_down:before {
	content: "\e311";
}
.icon_thumbs_down2:before {
	content: "\e312";
}
.icon_thumbs_up3:before {
	content: "\e313";
}
.icon_thumbs_up4:before {
	content: "\e314";
}
.icon_thumbs_up5:before {
	content: "\e315";
}
.icon_thumbs_up6:before {
	content: "\e316";
}
.icon_people:before {
	content: "\e317";
}
.icon_man:before {
	content: "\e318";
}
.icon_male:before {
	content: "\e319";
}
.icon_woman:before {
	content: "\e31a";
}
.icon_female:before {
	content: "\e31b";
}
.icon_peace:before {
	content: "\e31c";
}
.icon_yin_yang:before {
	content: "\e31d";
}
.icon_happy:before {
	content: "\e31e";
}
.icon_happy2:before {
	content: "\e31f";
}
.icon_smiley:before {
	content: "\e320";
}
.icon_smiley2:before {
	content: "\e321";
}
.icon_tongue:before {
	content: "\e322";
}
.icon_tongue2:before {
	content: "\e323";
}
.icon_sad:before {
	content: "\e324";
}
.icon_sad2:before {
	content: "\e325";
}
.icon_wink:before {
	content: "\e326";
}
.icon_wink2:before {
	content: "\e327";
}
.icon_grin:before {
	content: "\e328";
}
.icon_grin2:before {
	content: "\e329";
}
.icon_cool:before {
	content: "\e32a";
}
.icon_cool2:before {
	content: "\e32b";
}
.icon_angry:before {
	content: "\e32c";
}
.icon_angry2:before {
	content: "\e32d";
}
.icon_evil:before {
	content: "\e32e";
}
.icon_evil2:before {
	content: "\e32f";
}
.icon_shocked:before {
	content: "\e330";
}
.icon_shocked2:before {
	content: "\e331";
}
.icon_confused:before {
	content: "\e332";
}
.icon_confused2:before {
	content: "\e333";
}
.icon_neutral:before {
	content: "\e334";
}
.icon_neutral2:before {
	content: "\e335";
}
.icon_wondering:before {
	content: "\e336";
}
.icon_wondering2:before {
	content: "\e337";
}
.icon_cursor:before {
	content: "\e338";
}
.icon_cursor2:before {
	content: "\e339";
}
.icon_point_up:before {
	content: "\e33a";
}
.icon_point_right:before {
	content: "\e33b";
}
.icon_point_down:before {
	content: "\e33c";
}
.icon_point_left:before {
	content: "\e33d";
}
.icon_pointer:before {
	content: "\e33e";
}
.icon_hand:before {
	content: "\e33f";
}
.icon_stack_empty:before {
	content: "\e340";
}
.icon_stack_plus:before {
	content: "\e341";
}
.icon_stack_minus:before {
	content: "\e342";
}
.icon_stack_star:before {
	content: "\e343";
}
.icon_stack_picture:before {
	content: "\e344";
}
.icon_stack_down:before {
	content: "\e345";
}
.icon_stack_up:before {
	content: "\e346";
}
.icon_stack_cancel:before {
	content: "\e347";
}
.icon_stack_checkmark:before {
	content: "\e348";
}
.icon_stack_list:before {
	content: "\e349";
}
.icon_stack_clubs:before {
	content: "\e34a";
}
.icon_stack_spades:before {
	content: "\e34b";
}
.icon_stack_hearts:before {
	content: "\e34c";
}
.icon_stack_diamonds:before {
	content: "\e34d";
}
.icon_stack_user:before {
	content: "\e34e";
}
.icon_stack4:before {
	content: "\e34f";
}
.icon_stack_music:before {
	content: "\e350";
}
.icon_stack_play:before {
	content: "\e351";
}
.icon_move:before {
	content: "\e352";
}
.icon_resize:before {
	content: "\e353";
}
.icon_resize2:before {
	content: "\e354";
}
.icon_warning:before {
	content: "\e355";
}
.icon_warning2:before {
	content: "\e356";
}
.icon_notification:before {
	content: "\e357";
}
.icon_notification2:before {
	content: "\e358";
}
.icon_question:before {
	content: "\e359";
}
.icon_question2:before {
	content: "\e35a";
}
.icon_question3:before {
	content: "\e35b";
}
.icon_question4:before {
	content: "\e35c";
}
.icon_question5:before {
	content: "\e35d";
}
.icon_plus_circle:before {
	content: "\e35e";
}
.icon_plus_circle2:before {
	content: "\e35f";
}
.icon_minus_circle:before {
	content: "\e360";
}
.icon_minus_circle2:before {
	content: "\e361";
}
.icon_info:before {
	content: "\e362";
}
.icon_info2:before {
	content: "\e363";
}
.icon_blocked:before {
	content: "\e364";
}
.icon_cancel_circle:before {
	content: "\e365";
}
.icon_cancel_circle2:before {
	content: "\e366";
}
.icon_checkmark_circle:before {
	content: "\e367";
}
.icon_checkmark_circle2:before {
	content: "\e368";
}
.icon_cancel:before {
	content: "\e369";
}
.icon_spam:before {
	content: "\e36a";
}
.icon_close:before {
	content: "\e36b";
}
.icon_close2:before {
	content: "\e36c";
}
.icon_close3:before {
	content: "\e36d";
}
.icon_close4:before {
	content: "\e36e";
}
.icon_close5:before {
	content: "\e36f";
}
.icon_checkmark:before {
	content: "\e370";
}
.icon_checkmark2:before {
	content: "\e371";
}
.icon_checkmark3:before {
	content: "\e372";
}
.icon_checkmark4:before {
	content: "\e373";
}
.icon_spell_check:before {
	content: "\e374";
}
.icon_minus:before {
	content: "\e375";
}
.icon_plus:before {
	content: "\e376";
}
.icon_minus2:before {
	content: "\e377";
}
.icon_plus2:before {
	content: "\e378";
}
.icon_enter:before {
	content: "\e379";
}
.icon_exit:before {
	content: "\e37a";
}
.icon_enter2:before {
	content: "\e37b";
}
.icon_exit2:before {
	content: "\e37c";
}
.icon_enter3:before {
	content: "\e37d";
}
.icon_exit3:before {
	content: "\e37e";
}
.icon_exit4:before {
	content: "\e37f";
}
.icon_play3:before {
	content: "\e380";
}
.icon_pause:before {
	content: "\e381";
}
.icon_stop:before {
	content: "\e382";
}
.icon_backward:before {
	content: "\e383";
}
.icon_forward2:before {
	content: "\e384";
}
.icon_play4:before {
	content: "\e385";
}
.icon_pause2:before {
	content: "\e386";
}
.icon_stop2:before {
	content: "\e387";
}
.icon_backward2:before {
	content: "\e388";
}
.icon_forward3:before {
	content: "\e389";
}
.icon_first:before {
	content: "\e38a";
}
.icon_last:before {
	content: "\e38b";
}
.icon_previous:before {
	content: "\e38c";
}
.icon_next:before {
	content: "\e38d";
}
.icon_eject:before {
	content: "\e38e";
}
.icon_volume_high:before {
	content: "\e38f";
}
.icon_volume_medium:before {
	content: "\e390";
}
.icon_volume_low:before {
	content: "\e391";
}
.icon_volume_mute:before {
	content: "\e392";
}
.icon_volume_mute2:before {
	content: "\e393";
}
.icon_volume_increase:before {
	content: "\e394";
}
.icon_volume_decrease:before {
	content: "\e395";
}
.icon_volume_high2:before {
	content: "\e396";
}
.icon_volume_medium2:before {
	content: "\e397";
}
.icon_volume_low2:before {
	content: "\e398";
}
.icon_volume_mute3:before {
	content: "\e399";
}
.icon_volume_mute4:before {
	content: "\e39a";
}
.icon_volume_increase2:before {
	content: "\e39b";
}
.icon_volume_decrease2:before {
	content: "\e39c";
}
.icon_volume5:before {
	content: "\e39d";
}
.icon_volume4:before {
	content: "\e39e";
}
.icon_volume3:before {
	content: "\e39f";
}
.icon_volume2:before {
	content: "\e3a0";
}
.icon_volume1:before {
	content: "\e3a1";
}
.icon_volume0:before {
	content: "\e3a2";
}
.icon_volume_mute5:before {
	content: "\e3a3";
}
.icon_volume_mute6:before {
	content: "\e3a4";
}
.icon_loop:before {
	content: "\e3a5";
}
.icon_loop2:before {
	content: "\e3a6";
}
.icon_loop3:before {
	content: "\e3a7";
}
.icon_loop4:before {
	content: "\e3a8";
}
.icon_loop5:before {
	content: "\e3a9";
}
.icon_shuffle:before {
	content: "\e3aa";
}
.icon_shuffle2:before {
	content: "\e3ab";
}
.icon_wave:before {
	content: "\e3ac";
}
.icon_wave2:before {
	content: "\e3ad";
}
.icon_arrow_first:before {
	content: "\e3ae";
}
.icon_arrow_right:before {
	content: "\e3af";
}
.icon_arrow_up:before {
	content: "\e3b0";
}
.icon_arrow_right2:before {
	content: "\e3b1";
}
.icon_arrow_down:before {
	content: "\e3b2";
}
.icon_arrow_left:before {
	content: "\e3b3";
}
.icon_arrow_up2:before {
	content: "\e3b4";
}
.icon_arrow_right3:before {
	content: "\e3b5";
}
.icon_arrow_down2:before {
	content: "\e3b6";
}
.icon_arrow_left2:before {
	content: "\e3b7";
}
.icon_arrow_up_left:before {
	content: "\e3b8";
}
.icon_arrow_up3:before {
	content: "\e3b9";
}
.icon_arrow_up_right:before {
	content: "\e3ba";
}
.icon_arrow_right4:before {
	content: "\e3bb";
}
.icon_arrow_down_right:before {
	content: "\e3bc";
}
.icon_arrow_down3:before {
	content: "\e3bd";
}
.icon_arrow_down_left:before {
	content: "\e3be";
}
.icon_arrow_left3:before {
	content: "\e3bf";
}
.icon_arrow_up_left2:before {
	content: "\e3c0";
}
.icon_arrow_up4:before {
	content: "\e3c1";
}
.icon_arrow_up_right2:before {
	content: "\e3c2";
}
.icon_arrow_right5:before {
	content: "\e3c3";
}
.icon_arrow_down_right2:before {
	content: "\e3c4";
}
.icon_arrow_down4:before {
	content: "\e3c5";
}
.icon_arrow_down_left2:before {
	content: "\e3c6";
}
.icon_arrow_left4:before {
	content: "\e3c7";
}
.icon_arrow_up_left3:before {
	content: "\e3c8";
}
.icon_arrow_up5:before {
	content: "\e3c9";
}
.icon_arrow_up_right3:before {
	content: "\e3ca";
}
.icon_arrow_right6:before {
	content: "\e3cb";
}
.icon_arrow_down_right3:before {
	content: "\e3cc";
}
.icon_arrow_down5:before {
	content: "\e3cd";
}
.icon_arrow_down_left3:before {
	content: "\e3ce";
}
.icon_arrow_left5:before {
	content: "\e3cf";
}
.icon_arrow_up_left4:before {
	content: "\e3d0";
}
.icon_arrow_up6:before {
	content: "\e3d1";
}
.icon_arrow_up_right4:before {
	content: "\e3d2";
}
.icon_arrow_right7:before {
	content: "\e3d3";
}
.icon_arrow_down_right4:before {
	content: "\e3d4";
}
.icon_arrow_down6:before {
	content: "\e3d5";
}
.icon_arrow_down_left4:before {
	content: "\e3d6";
}
.icon_arrow_left6:before {
	content: "\e3d7";
}
.icon_arrow:before {
	content: "\e3d8";
}
.icon_arrow2:before {
	content: "\e3d9";
}
.icon_arrow3:before {
	content: "\e3da";
}
.icon_arrow4:before {
	content: "\e3db";
}
.icon_arrow5:before {
	content: "\e3dc";
}
.icon_arrow6:before {
	content: "\e3dd";
}
.icon_arrow7:before {
	content: "\e3de";
}
.icon_arrow8:before {
	content: "\e3df";
}
.icon_arrow_up_left5:before {
	content: "\e3e0";
}
.icon_arrow_square:before {
	content: "\e3e1";
}
.icon_arrow_up_right5:before {
	content: "\e3e2";
}
.icon_arrow_right8:before {
	content: "\e3e3";
}
.icon_arrow_down_right5:before {
	content: "\e3e4";
}
.icon_arrow_down7:before {
	content: "\e3e5";
}
.icon_arrow_down_left5:before {
	content: "\e3e6";
}
.icon_arrow_left7:before {
	content: "\e3e7";
}
.icon_arrow_up7:before {
	content: "\e3e8";
}
.icon_arrow_right9:before {
	content: "\e3e9";
}
.icon_arrow_down8:before {
	content: "\e3ea";
}
.icon_arrow_left8:before {
	content: "\e3eb";
}
.icon_arrow_up8:before {
	content: "\e3ec";
}
.icon_arrow_right10:before {
	content: "\e3ed";
}
.icon_arrow_bottom:before {
	content: "\e3ee";
}
.icon_arrow_left9:before {
	content: "\e3ef";
}
.icon_arrow_up_left6:before {
	content: "\e3f0";
}
.icon_arrow_up9:before {
	content: "\e3f1";
}
.icon_arrow_up_right6:before {
	content: "\e3f2";
}
.icon_arrow_right11:before {
	content: "\e3f3";
}
.icon_arrow_down_right6:before {
	content: "\e3f4";
}
.icon_arrow_down9:before {
	content: "\e3f5";
}
.icon_arrow_down_left6:before {
	content: "\e3f6";
}
.icon_arrow_left10:before {
	content: "\e3f7";
}
.icon_arrow_up_left7:before {
	content: "\e3f8";
}
.icon_arrow_up10:before {
	content: "\e3f9";
}
.icon_arrow_up_right7:before {
	content: "\e3fa";
}
.icon_arrow_right12:before {
	content: "\e3fb";
}
.icon_arrow_down_right7:before {
	content: "\e3fc";
}
.icon_arrow_down10:before {
	content: "\e3fd";
}
.icon_arrow_down_left7:before {
	content: "\e3fe";
}
.icon_arrow_left11:before {
	content: "\e3ff";
}
.icon_arrow_up11:before {
	content: "\e400";
}
.icon_arrow_right13:before {
	content: "\e401";
}
.icon_arrow_down11:before {
	content: "\e402";
}
.icon_arrow_left12:before {
	content: "\e403";
}
.icon_arrow_up12:before {
	content: "\e404";
}
.icon_arrow_right14:before {
	content: "\e405";
}
.icon_arrow_down12:before {
	content: "\e406";
}
.icon_arrow_left13:before {
	content: "\e407";
}
.icon_arrow_up13:before {
	content: "\e408";
}
.icon_arrow_right15:before {
	content: "\e409";
}
.icon_arrow_down13:before {
	content: "\e40a";
}
.icon_arrow_left14:before {
	content: "\e40b";
}
.icon_arrow_up14:before {
	content: "\e40c";
}
.icon_arrow_right16:before {
	content: "\e40d";
}
.icon_arrow_down14:before {
	content: "\e40e";
}
.icon_arrow_left15:before {
	content: "\e40f";
}
.icon_arrow_up15:before {
	content: "\e410";
}
.icon_arrow_right17:before {
	content: "\e411";
}
.icon_arrow_down15:before {
	content: "\e412";
}
.icon_arrow_left16:before {
	content: "\e413";
}
.icon_arrow_up16:before {
	content: "\e414";
}
.icon_arrow_right18:before {
	content: "\e415";
}
.icon_arrow_down16:before {
	content: "\e416";
}
.icon_arrow_left17:before {
	content: "\e417";
}
.icon_menu10:before {
	content: "\e418";
}
.icon_menu11:before {
	content: "\e419";
}
.icon_menu_close:before {
	content: "\e41a";
}
.icon_menu_close2:before {
	content: "\e41b";
}
.icon_enter4:before {
	content: "\e41c";
}
.icon_enter5:before {
	content: "\e41d";
}
.icon_esc:before {
	content: "\e41e";
}
.icon_backspace:before {
	content: "\e41f";
}
.icon_backspace2:before {
	content: "\e420";
}
.icon_backspace3:before {
	content: "\e421";
}
.icon_tab:before {
	content: "\e422";
}
.icon_transmission:before {
	content: "\e423";
}
.icon_transmission2:before {
	content: "\e424";
}
.icon_sort:before {
	content: "\e425";
}
.icon_sort2:before {
	content: "\e426";
}
.icon_key_keyboard:before {
	content: "\e427";
}
.icon_key_A:before {
	content: "\e428";
}
.icon_key_up:before {
	content: "\e429";
}
.icon_key_right:before {
	content: "\e42a";
}
.icon_key_down:before {
	content: "\e42b";
}
.icon_key_left:before {
	content: "\e42c";
}
.icon_command:before {
	content: "\e42d";
}
.icon_checkbox_checked:before {
	content: "\e42e";
}
.icon_checkbox_unchecked:before {
	content: "\e42f";
}
.icon_square:before {
	content: "\e430";
}
.icon_checkbox_partial:before {
	content: "\e431";
}
.icon_checkbox:before {
	content: "\e432";
}
.icon_checkbox_unchecked2:before {
	content: "\e433";
}
.icon_checkbox_partial2:before {
	content: "\e434";
}
.icon_checkbox_checked2:before {
	content: "\e435";
}
.icon_checkbox_unchecked3:before {
	content: "\e436";
}
.icon_checkbox_partial3:before {
	content: "\e437";
}
.icon_radio_checked:before {
	content: "\e438";
}
.icon_radio_unchecked:before {
	content: "\e439";
}
.icon_circle:before {
	content: "\e43a";
}
.icon_circle2:before {
	content: "\e43b";
}
.icon_crop:before {
	content: "\e43c";
}
.icon_crop2:before {
	content: "\e43d";
}
.icon_vector:before {
	content: "\e43e";
}
.icon_rulers:before {
	content: "\e43f";
}
.icon_scissors:before {
	content: "\e440";
}
.icon_scissors2:before {
	content: "\e441";
}
.icon_scissors3:before {
	content: "\e442";
}
.icon_filter:before {
	content: "\e443";
}
.icon_filter2:before {
	content: "\e444";
}
.icon_filter3:before {
	content: "\e445";
}
.icon_filter4:before {
	content: "\e446";
}
.icon_font:before {
	content: "\e447";
}
.icon_font_size:before {
	content: "\e448";
}
.icon_type:before {
	content: "\e449";
}
.icon_text_height:before {
	content: "\e44a";
}
.icon_text_width:before {
	content: "\e44b";
}
.icon_height:before {
	content: "\e44c";
}
.icon_width:before {
	content: "\e44d";
}
.icon_bold:before {
	content: "\e44e";
}
.icon_underline:before {
	content: "\e44f";
}
.icon_italic:before {
	content: "\e450";
}
.icon_strikethrough:before {
	content: "\e451";
}
.icon_strikethrough2:before {
	content: "\e452";
}
.icon_font_size2:before {
	content: "\e453";
}
.icon_bold2:before {
	content: "\e454";
}
.icon_underline2:before {
	content: "\e455";
}
.icon_italic2:before {
	content: "\e456";
}
.icon_strikethrough3:before {
	content: "\e457";
}
.icon_omega:before {
	content: "\e458";
}
.icon_sigma:before {
	content: "\e459";
}
.icon_nbsp:before {
	content: "\e45a";
}
.icon_page_break:before {
	content: "\e45b";
}
.icon_page_break2:before {
	content: "\e45c";
}
.icon_superscript:before {
	content: "\e45d";
}
.icon_subscript:before {
	content: "\e45e";
}
.icon_superscript2:before {
	content: "\e45f";
}
.icon_subscript2:before {
	content: "\e460";
}
.icon_text_color:before {
	content: "\e461";
}
.icon_highlight:before {
	content: "\e462";
}
.icon_pagebreak:before {
	content: "\e463";
}
.icon_clear_formatting:before {
	content: "\e464";
}
.icon_table:before {
	content: "\e465";
}
.icon_table2:before {
	content: "\e466";
}
.icon_insert_template:before {
	content: "\e467";
}
.icon_pilcrow:before {
	content: "\e468";
}
.icon_left_toright:before {
	content: "\e469";
}
.icon_right_toleft:before {
	content: "\e46a";
}
.icon_paragraph_left:before {
	content: "\e46b";
}
.icon_paragraph_center:before {
	content: "\e46c";
}
.icon_paragraph_right:before {
	content: "\e46d";
}
.icon_paragraph_justify:before {
	content: "\e46e";
}
.icon_paragraph_left2:before {
	content: "\e46f";
}
.icon_paragraph_center2:before {
	content: "\e470";
}
.icon_paragraph_right2:before {
	content: "\e471";
}
.icon_paragraph_justify2:before {
	content: "\e472";
}
.icon_indent_increase:before {
	content: "\e473";
}
.icon_indent_decrease:before {
	content: "\e474";
}
.icon_paragraph_left3:before {
	content: "\e475";
}
.icon_paragraph_center3:before {
	content: "\e476";
}
.icon_paragraph_right3:before {
	content: "\e477";
}
.icon_paragraph_justify3:before {
	content: "\e478";
}
.icon_indent_increase2:before {
	content: "\e479";
}
.icon_indent_decrease2:before {
	content: "\e47a";
}
.icon_share:before {
	content: "\e47b";
}
.icon_new_tab:before {
	content: "\e47c";
}
.icon_new_tab2:before {
	content: "\e47d";
}
.icon_popout:before {
	content: "\e47e";
}
.icon_embed:before {
	content: "\e47f";
}
.icon_code:before {
	content: "\e480";
}
.icon_console:before {
	content: "\e481";
}
.icon_seven_segment0:before {
	content: "\e482";
}
.icon_seven_segment1:before {
	content: "\e483";
}
.icon_seven_segment2:before {
	content: "\e484";
}
.icon_seven_segment3:before {
	content: "\e485";
}
.icon_seven_segment4:before {
	content: "\e486";
}
.icon_seven_segment5:before {
	content: "\e487";
}
.icon_seven_segment6:before {
	content: "\e488";
}
.icon_seven_segment7:before {
	content: "\e489";
}
.icon_seven_segment8:before {
	content: "\e48a";
}
.icon_seven_segment9:before {
	content: "\e48b";
}
.icon_share2:before {
	content: "\e48c";
}
.icon_share3:before {
	content: "\e48d";
}
.icon_mail:before {
	content: "\e48e";
}
.icon_mail2:before {
	content: "\e48f";
}
.icon_mail3:before {
	content: "\e490";
}
.icon_mail4:before {
	content: "\e491";
}
.icon_google:before {
	content: "\e492";
}
.icon_google_plus:before {
	content: "\e493";
}
.icon_google_plus2:before {
	content: "\e494";
}
.icon_google_plus3:before {
	content: "\e495";
}
.icon_google_plus4:before {
	content: "\e496";
}
.icon_google_drive:before {
	content: "\e497";
}
.icon_facebook:before {
	content: "\e498";
}
.icon_facebook2:before {
	content: "\e499";
}
.icon_facebook3:before {
	content: "\e49a";
}
.icon_facebook4:before {
	content: "\e49b";
}
.icon_instagram:before {
	content: "\e49c";
}
.icon_twitter:before {
	content: "\e49d";
}
.icon_twitter2:before {
	content: "\e49e";
}
.icon_twitter3:before {
	content: "\e49f";
}
.icon_feed2:before {
	content: "\e4a0";
}
.icon_feed3:before {
	content: "\e4a1";
}
.icon_feed4:before {
	content: "\e4a2";
}
.icon_youtube:before {
	content: "\e4a3";
}
.icon_youtube2:before {
	content: "\e4a4";
}
.icon_vimeo:before {
	content: "\e4a5";
}
.icon_vimeo2:before {
	content: "\e4a6";
}
.icon_vimeo3:before {
	content: "\e4a7";
}
.icon_lanyrd:before {
	content: "\e4a8";
}
.icon_flickr:before {
	content: "\e4a9";
}
.icon_flickr2:before {
	content: "\e4aa";
}
.icon_flickr3:before {
	content: "\e4ab";
}
.icon_flickr4:before {
	content: "\e4ac";
}
.icon_picassa:before {
	content: "\e4ad";
}
.icon_picassa2:before {
	content: "\e4ae";
}
.icon_dribbble:before {
	content: "\e4af";
}
.icon_dribbble2:before {
	content: "\e4b0";
}
.icon_dribbble3:before {
	content: "\e4b1";
}
.icon_forrst:before {
	content: "\e4b2";
}
.icon_forrst2:before {
	content: "\e4b3";
}
.icon_deviantart:before {
	content: "\e4b4";
}
.icon_deviantart2:before {
	content: "\e4b5";
}
.icon_steam:before {
	content: "\e4b6";
}
.icon_steam2:before {
	content: "\e4b7";
}
.icon_github:before {
	content: "\e4b8";
}
.icon_github2:before {
	content: "\e4b9";
}
.icon_github3:before {
	content: "\e4ba";
}
.icon_github4:before {
	content: "\e4bb";
}
.icon_github5:before {
	content: "\e4bc";
}
.icon_wordpress:before {
	content: "\e4bd";
}
.icon_wordpress2:before {
	content: "\e4be";
}
.icon_joomla:before {
	content: "\e4bf";
}
.icon_blogger:before {
	content: "\e4c0";
}
.icon_blogger2:before {
	content: "\e4c1";
}
.icon_tumblr:before {
	content: "\e4c2";
}
.icon_tumblr2:before {
	content: "\e4c3";
}
.icon_yahoo:before {
	content: "\e4c4";
}
.icon_tux:before {
	content: "\e4c5";
}
.icon_apple:before {
	content: "\e4c6";
}
.icon_finder:before {
	content: "\e4c7";
}
.icon_android:before {
	content: "\e4c8";
}
.icon_windows:before {
	content: "\e4c9";
}
.icon_windows8:before {
	content: "\e4ca";
}
.icon_soundcloud:before {
	content: "\e4cb";
}
.icon_soundcloud2:before {
	content: "\e4cc";
}
.icon_skype:before {
	content: "\e4cd";
}
.icon_reddit:before {
	content: "\e4ce";
}
.icon_linkedin:before {
	content: "\e4cf";
}
.icon_lastfm:before {
	content: "\e4d0";
}
.icon_lastfm2:before {
	content: "\e4d1";
}
.icon_delicious:before {
	content: "\e4d2";
}
.icon_stumbleupon:before {
	content: "\e4d3";
}
.icon_stumbleupon2:before {
	content: "\e4d4";
}
.icon_stackoverflow:before {
	content: "\e4d5";
}
.icon_pinterest:before {
	content: "\e4d6";
}
.icon_pinterest2:before {
	content: "\e4d7";
}
.icon_xing:before {
	content: "\e4d8";
}
.icon_xing2:before {
	content: "\e4d9";
}
.icon_flattr:before {
	content: "\e4da";
}
.icon_foursquare:before {
	content: "\e4db";
}
.icon_foursquare2:before {
	content: "\e4dc";
}
.icon_paypal:before {
	content: "\e4dd";
}
.icon_paypal2:before {
	content: "\e4de";
}
.icon_paypal3:before {
	content: "\e4df";
}
.icon_yelp:before {
	content: "\e4e0";
}
.icon_libreoffice:before {
	content: "\e4e1";
}
.icon_file_pdf:before {
	content: "\e4e2";
}
.icon_file_openoffice:before {
	content: "\e4e3";
}
.icon_file_word:before {
	content: "\e4e4";
}
.icon_file_excel:before {
	content: "\e4e5";
}
.icon_file_zip:before {
	content: "\e4e6";
}
.icon_file_powerpoint:before {
	content: "\e4e7";
}
.icon_file_xml:before {
	content: "\e4e8";
}
.icon_file_css:before {
	content: "\e4e9";
}
.icon_html5:before {
	content: "\e4ea";
}
.icon_html52:before {
	content: "\e4eb";
}
.icon_IcoMoon:before {
	content: "\e4f2";
}
.icon_safari:before {
	content: "\e4f1";
}
.icon_opera:before {
	content: "\e4f0";
}
.icon_IE:before {
	content: "\e4ef";
}
.icon_firefox:before {
	content: "\e4ee";
}
.icon_chrome:before {
	content: "\e4ed";
}
.icon_css3:before {
	content: "\e4ec";
}
